<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.bluetooth.bleswitch"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="18"
        android:targetSdkVersion="18" />

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <uses-feature
        android:name="android.hardware.bluetooth_le"
        android:required="false" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:logo="@drawable/ic_launcher"
       android:theme="@android:style/Theme.NoTitleBar" >
        <activity
            android:name="org.bluetooth.bleswitch.RoomListActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="org.bluetooth.bleswitch.PeripheralActivity"
            android:label="@string/title_activity_peripheral"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name="org.bluetooth.bleswitch.HRDemoActivity"
            android:label="@string/title_activity_hrdemo"
            android:parentActivityName="org.bluetooth.bleswitch.ScanningActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.bluetooth.bledemo.ScanningActivity" />
        </activity>
        <activity
            android:name="org.bluetooth.bleswitch.RoomSwitchList"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="org.bluetooth.bleswitch.SetSwitchTimer"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="org.bluetooth.bleswitch.AutherInfo"
            android:screenOrientation="portrait">
        </activity>
    </application>

</manifest>
